DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=travel_agency_db
DB_PORT=3306

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SOFT_TRAVELS_EMAIL=your_email@gmail.com
SOFT_TRAVELS_EMAIL_PASSWORD=your_gmail_app_password
